<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Weather Application">
        <meta name="author" content="Shivateja Burle">
        {% load static %}
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
        <title>Applicants App</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <h1>Hello</h1>
    </body>
</html>